body {
    font-family: 'Raleway',Helvetica,Arial,Lucida,sans-serif;
    background-color: #11111b;
    text-align:center;
}

hr {
    background-color: #f9e2af;
    height: 10px;
}

p{
    font-weight: bold;
}

label.connected{
    color:#40a02b;
    font-weight: bold;
}

label.disconnected{
    color:#f38ba8;
    font-weight: bold;
}

.htitle{
    text-align: center;
    display: inline;
    color: #f38ba8;
    font-size: 45px;
}

.hmenu {
    background-color: #89b4fa;
    padding: 5px;
    font-size: 20px;
}

.hmenubutton {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.hmenubutton:hover {
    color: #b2d347;
    font-weight: bold;
}

.content {
    text-align: center;
    color: #cdd6f4;
}

.draftCardContainer {
    display: inline-grid;
}

.draftCardContainerSelected {
    outline: 8px solid #a6e3a1;
    outline-offset: -8px;
    display: inline-grid;
}

.associatedCard {
    display: inline;
}
