{% extends "layout.html" %}
{% block header %}{% endblock %}
{% block content %}
<p>Profil: {{player.name}}<p>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var player_uid = '{{player.uid}}';
    var draft_id = {{draft.id}};
</script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.js') }}"></script>
<div id="draft"></div>
<hr/>
<div id="status"></div>
<hr/>
<p>Cartes draftées</p>
<div id="pool"></div>
{% endblock %}
{% block footer %}{% endblock %}
