<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}Draft Server{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="htitle">
        <h1 class="htitle">Draft Server</h1>
    </div>
    <div class=hmenu>
    </div>
    {% endblock %}
  </head>
  <body>
    <div id="content" class="content">{% block content %}{% endblock %}</div>
    <footer>
      {% block footer %}
      {% endblock %}
    </footer>
  </body>
</html>
